* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#canvas {
  background: #f0f0f0;
  
}

#score {
font-size: 25px;
}

.heading span:nth-of-type(even) {
  color:red
}
.heading span:nth-of-type(odd){
  color: blue;
}

.resetbtn {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
}

.instructions {
  display: flex;
  margin-right: 520px;
}